:root {
    --primary-text-color:#212121;
    --header-adress-color:#757575;
    --accent-color:#2196F3;
    --top-color:#FFFFFF;
    --footer-header-bgd-color:#2F303A;
    --secondary-bgd-color:#F5F4FA;
    --third-bgd-color:#188CE8;
    --footer-grey-color:rgba(255, 255, 255, 0.6);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--top-color);
}
/*---------------------HEADER---------------------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: inherit;
    text-decoration:none;
    letter-spacing: 0.03em;
}
.accent {
    color: var(--accent-color);
}
.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-list-link {
    color: var(--primary-text-color);
    text-decoration:none;
}
.header-list-link.current {
    color: var(--accent-color);
}
.header-list-link:hover,
.header-list-link:focus {
    color: var(--accent-color);
}
.header-adress-link:hover,
.header-adress-link:focus {
    color: var(--accent-color);
}
.header-adress-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-adress-color);
    text-decoration:none;
}
/*---------------------SECTION-OUR-WORKS---------------------*/
.our-works-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--secondary-bgd-color);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.our-works-btn:hover,
.our-works-btn:focus {
    color: var(--top-color);
    background-color: var(--accent-color);
}
.our-works-btn-all {
    color: var(--top-color);
    background-color: var(--accent-color);
}
.our-works-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.our-works-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em; 
    color: var(--title-text-color);
}
.our-works-list, .our-works-items, .header-list-adress, .header-list, .footer-list, .special-list, .doing-list, .comands-list {
    list-style-type: none;
}
/*---------------------FOOTER---------------------*/
.footer {
    background: var(--footer-header-bgd-color);
    color: var(--top-color);
 }
.footer.header-logo {
    color: var(--top-color);
    color: inherit;
    text-decoration:none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-adress-link {
    text-decoration:none;
    color: var(--footer-grey-color);
    letter-spacing: 0.03em;
}
.footer-adress-link:hover,
.footer-adress-link:focus {
    color: var(--accent-color);
}

/*---------------------СТРАНИЦА 2-HERO--------------------*/
.section-hero {
    background-color: var(--footer-header-bgd-color);
}
.hero-title {
    color: var(--top-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero-btn {
    background-color: var(--accent-color);
    color: var(--top-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--third-bgd-color);
}
.special-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.special-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}
.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.section-comands {
    background-color: var(--secondary-bgd-color);
}
.comands-item {
    background-color: var(--top-color);
}
.comands-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.comands-list-text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}